  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&family=Rubik:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
}

h1 h2 {
    font-family: "Fira"; sans-serif;
    font-weight: 300;
    color: black;
}


/* hexagone for the hive can be reuse for different chapter*/

#hex1 {
  height: 200px;
  width: 225px;
  clip-path: polygon(25% 5%, 75% 5%, 95% 50%, 75% 95%, 25% 95%, 05% 50%);
  background-color: black;
  position: absolute;
  margin: -15px 15px 1px -20px;
  clear: both;
}

#hex2 {
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: #F08C08;
  clip-path: polygon(26% 7%, 74% 7%, 93% 50%, 74% 93%, 26% 93%, 7% 50%);
}

/* element for inside logo*/

#logo {
  margin-left: auto;
  margin-top: 35%;
  line-height: 75%;
  color: black;
}

#first {
  padding-left: 35px;
  align-self: flex-start;
}

#second {
  padding-left: 25%;
}

#icon {
  height: 35%;
  width: auto;
  position: absolute;
  margin-left: 45%;
  margin-top: 15% ;  
}

/* navigation link*/

#menu {
  font-size: large;
  letter-spacing: 4px;
  display: inline;
}

#menu a:hover {
  border-bottom: #F08C08 1px solid;
}

.active {
  color:#F08C08
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 75px;
  margin-top: 30px;
}

#menu a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}



/* hive image*/

#honey-hive {
  height: 600px;
  width: auto;
  background: url(../images/bee-give-honey.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 60px -10px 0 -10px;
}

/* section type of bee */

#type-bee {
  background-image: url(../images/hive-pattern.jpg);
  height: 400px;
  width: 100%;
  max-height: max-content;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: static;
  margin: 0 auto;
}

section h2 {
  margin-left: 10%;
  color: #F08C08;
}

#type-bee div {
  width: 25%;
  height: inherit;
  min-height: 400px;
  float: left;
  line-height: 1.5;  
  background-color: #f08b0879;
}

#type-bee h3 {
  padding: 0 auto;
  margin-left: 7px;  
}

#type-bee p {
  width: 90%;
  text-align: justify;
  font-size: large;
  color: black;
  padding: 5%
}

/* Footer */

.social-media {
  text-align: center;
  margin-top: 5%;
  padding-top: 0.5%;
  height: 40px;
  background-color: grey;
}

.social-media > li {
  display: inline;  
}

.social-media a {
  font-size: 100%;
  padding: 01% 5%;
  color: #F08C08;
  text-decoration-line: none;  
}
 /* Issue to feet the footer in type of hive page */
#footer-hive {
  margin-top: 1000px;
}

/* Iframe video */

#bee-live iframe{
  display: inline;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
}

iframe {
  border: solid 1px black;
  margin: auto 0;
}

/* type of hive page */

#hive {
  margin-top: 5%;
  margin-left: 2%;
  height: 100%;
}

.hives {
  margin: 10 0 10 5;
  height: 328px;
  width: 50%;
  float: left;
}


.hives img {
  height: 8cm;
  width: 8cm;
  overflow: hidden;
  margin-top: 5px;
  padding-right: 25px;
  float: left;
}

.hives h3 {
  padding-top: 2%;
  text-decoration: underline solid black 1px;
}

.hives p {
  height: 6cm;
  width: 90%;
  font-size: 18px;
  text-align: justify;
}

/* People section */

#form {
  margin-top: 7%;
  margin-left: 2%;
  height: 100%;
}

form {
  width: 30%;
  background-color: #f08b0879;
  margin: 2%;
  padding: 1%;
  float: left;
}

fieldset {
  margin-bottom: 1%;
}

input {
  margin-top: 10px;
  margin-left: 15px;
}

#fieldset1> label {
  width: 25%;
  padding-right: 9px;
  clear: both;
}

#fieldset1 > .signup {
  width: 300px;
}

.email {
  margin-left: 0;
  width: 300px;
}

.submit {
  margin-left: 88%;
  font-size: 15px;
}

/* Gallery */

#photo {
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#photo > img {
  max-width: 300px;
  max-height: 400px;
}